/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 html, body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  letter-spacing: 0.05vw;

}

html::-webkit-scrollbar, body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

navigation-bar {
  display: grid;
}

/*  SECTION: OVERLAY */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  /* Semi-transparent black */
  z-index: 9999;
  /* Ensure it's on top of everything */
  display: flex;
  /* Center child div */
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
  /* Smooth transition for opacity */
  opacity: 1;
  /* Initial state */
  pointer-events: all;
  /* Allow interaction */
}

/* Hidden state of the overlay */
#overlay.hidden {
  opacity: 0;
  /* Fade out */
  pointer-events: none;
  /* Prevent further interaction */
}

/* The child div inside the overlay */
#overlay-switch {
  padding: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

#overlay-switch:hover {
  border: solid red 2px;
}



/* SECTION: GRID */

.grid-container {
  display: grid;
}

/* Grid for Header area (nav included) */

#name-banner {
  display: flex;
  justify-content: center;
  padding: 5vw;
  font-family: NameBanner;
  /* Credits to cssgradient.io */
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(49, 13, 91, 1) 5%, rgba(34, 9, 64, 1) 30%, rgba(0, 0, 0, 1) 60%, rgba(86, 11, 173, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(49, 13, 91, 1) 5%, rgba(34, 9, 64, 1) 30%, rgba(0, 0, 0, 1) 60%, rgba(86, 11, 173, 1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(49, 13, 91, 1) 5%, rgba(34, 9, 64, 1) 30%, rgba(0, 0, 0, 1) 60%, rgba(86, 11, 173, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#560bad", GradientType=1);
}

#name-box {
  padding: 3vw;
  border: 1px solid #560bad;
  border-radius: 10px;
}

.navigation-grid {
  grid-template-columns: auto auto auto auto;
}


/* <main> section */

main {
  display: grid;
  font-family: 'Times New Roman', serif;
  line-height: 1.6;
  color: #333;
  padding: 2vw;
  font-size: 1vw;
}

/* Footer */
footer {
  text-align: center;
  padding: 1vw 0;
  margin-top: 2vw;
  border-top: 1px solid #560bad;
  color: silver;
  font-family: GeneralText;
}


/*  SECTION: ABOUT PAGE */


#about-page-grid {
  grid-template-columns: 20% auto auto auto;
  grid-gap: 1vw;
  padding: 1vw;
  text-align: justify;
}

#about-page-image {
  background-image: url(media/1.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1vw;
  border: 1px solid #560bad;
  grid-column: span 1;
}

#about-page-text {
  grid-column-end: span 3;
  font-family: GeneralText;
  font-size: 1.2vw;
}

#about-page-full-width-text {
  grid-column-end: span 4;
  font-family: GeneralText;
  font-size: 1.2vw;
}

#about-page-skill-box-parent {
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
}

#about-page-skill-box {
  display: flex;
  justify-content: center;
  padding: 1vw;
  border: 1px solid #560bad;
  box-shadow: 0px 0px 5vw 20px #560bad;
}

#about-page-skill-title {
  display: flex;
  grid-column-end: span 4;
  font-size: 2vw;
  font-family: NameBanner;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

#skill-list {
  border-left: #560bad solid 2px;
  list-style-type: none;
  padding: 1.5vw 2vw;
  font-size: 1.5vw;
}

.skill-headings {
  font-family: NameBanner;
}


/*  SECTION: CV PAGE  */

#cv-page-title-grid {
  display: grid;
  grid: 8vw / auto auto auto auto auto;
}

#cv-page-title-mycv {
  font-family: GeneralText;
  font-size: 2.5vw;
  color:silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: span 3;
  grid-column-start: 3;
}

#cv-page-download-button-box {
  grid-column: span 1;
  grid-column-start: 5;
  align-items: center;
  justify-content: center;
}

#cv-page-pdfviewer-box {
  padding: 1vw;
}

#cv-page-pdfviewer {
  width: 100%;
  height: 100vh;
}


/*  SECTION: PROJECTS PAGE  */


#projects-page-list {
  color: silver;
  border: 2px solid #560bad;
  padding: 4vh;
  box-shadow: 1px 0px 40px #560bad; 
  list-style-position: inside;
  font-family: GeneralText;
  font-size: 1vw;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 15%;
  letter-spacing: 0.3mm;
  line-height: 1.6;
}

#projects-page-slideshow-title {
  color: silver;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  padding: 1vw;
  border-bottom: 2px solid #560bad;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2vw;
  font-family: GeneralText;
}

#projects-page-slideshow-box {
  height: 80vh;
}

#image-track {
  display: flex;
  gap: 4vmin;
  user-select: none; /* -- Prevent image highlighting -- */
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 90vw;
  height: 70vh;
  padding-left: 10vw;
}

.project-images {
  border: 1px solid #560bad;
  box-shadow: 1px 0px 15px 1px #560bad;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

#project-image1 {
  background-image: url(media/PDE3413/1.jpg);
}

#project-image2 {
  background-image: url(media/PDE3413/2.jpg);
}

#project-image3 {
  background-image: url(media/PDE3413/3.jpeg);
}

#project-image4 {
  background-image: url(media/PDE3413/4.jpg);
}

#project-image5 {
  background-image: url(media/PDE3413/5.jpeg);
}

#project-image6 {
  background-image: url(media/PDE3413/6.jpg);
}


#projects-page-main-grid {
  display: grid;
  padding: 2vw;
  grid: 30vw 30vw 30vw 30vw / auto auto auto auto ;
  color: white;
  gap: 7vw 2vw;
  letter-spacing: 0.3mm;
}

.projects-page-iframes {
  width: 100%;
  height: 100%;
}

.projects-page-description-boxes {
  grid-column: span 3;
  font-family: GeneralText;
  font-size: 1vw;
  color: silver;
  line-height: 1.3;
}

.projects-page-description-titles {
  font-family: GeneralText;
  font-size: 1.6vw;
  color: white;
  display: grid;
  justify-content: center;
  border-bottom: 1px solid #560bad;
  padding-bottom: 1vw;
  padding-top: 0.5vw;
  text-align: center;
  margin: 2vw 1vw 0px 1vw;
}

.projects-page-description-texts {
  padding: 1vw;
}

.projects-page-pictures {
  grid-column: span 1;
  width: 30vw;
  border: 1px solid #560bad;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#projects-page-pic3 {
  background-image: url(media/ai-alg.PNG);
}

#projects-page-pic4 {
  background-image: url(media/website-progress.PNG);
}






/*  SECTION: CONTACT ME */

#contact-page-grid {
  border: 1px solid #560bad;
  display: grid;
  grid: 100px 80px / auto auto auto;
  padding: 50px;
  margin-top: 80px;
  gap: 50px;
  width: 60%;
  margin-left: 20%;
  box-shadow: 1px 0px 50px #560bad;
}


#contact-page-title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  grid-column: 1 / span 3;
  color: white;
  font-family: GeneralText;
  letter-spacing: 0.3mm;
  font-size: 40px;
  color: silver;
  grid-column-start: 2;
  grid-column-end: 3;
}

final {
  color: silver;
  font-family: PrettyText;
  font-size: 60px;
  display: flex;
  justify-content: center;
}

/*  SECTION: BUTTONS  */


/* From Uiverse.io by javierBarroso */
.name {
  font-size: 2.5vw;
  color: silver;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: color;
  opacity: 1;
}

.name:focus,
.name:hover {
  transition-duration: 500ms;
  /* If you want to change colour on hover ------  color: red; */
  background: linear-gradient(0, red, white 70%, white 99%);
  background-clip: text;
  -webkit-background-clip: text;
}

.name:focus:after,
.name:hover:after {
  width: 100%;
  left: 0px;
}

.name:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: #560bad;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, left;
}

.name:focus:before,
.name:hover:before {
  width: 100%;
  left: 0px;
}

.name:before {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: #560bad;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, left;
  filter: blur(5px);
}

/*  --------------------------------------  */

/* From Uiverse.io by cssbuttons-io */
.navigation-tabs {
  display: flex;
  justify-content: center;
  padding: 2vw;
  font-size: 2vw;
  /* 25% each button -> 4 buttons due to grid-template-columns 4 autos */
  flex-basis: 25%;
  --color: #560bad;
  display: flex;
  line-height: 2.5em;
  margin: 0.1vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #560bad;
  transition: color 0.5s;
  z-index: 1;
  font-size: 2vw;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  font-family: GeneralText;
  opacity: 0.8;
}

.navigation-tabs:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 700px;
  width: 700px;
  border-radius: 50%;
}

.navigation-tabs:hover {
  color: #fff;
}

.navigation-tabs:before {
  top: 100%;
  left: 100%;
  transition: all 0.9s;
}

.navigation-tabs:hover:before {
  top: -230px;
  left: -20px;
}

.navigation-tabs:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


/* From Uiverse.io by satyamchaudharydev */ 
#cv-page-download-button {
  --height: 2.5vw;
  --tooltip-height: 3vw;
  --tooltip-width: 9vw;
  --gap-between-tooltip-to-button: 2vw;
  --button-color: #560bad;
  --tooltip-color: #fff;
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: GeneralText;
  color: silver;
  transition: background 0.1s;
  border: 1px solid purple;
  margin-top: 2.5vw;
  margin-right: 1.5vw;
}

#cv-page-download-button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);

}

#cv-page-download-button::after {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  
}

#cv-page-download-button::after,#cv-page-download-button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

#cv-page-download-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-page-download-button-wrapper,#cv-page-download-button-text,#cv-page-download-button-icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: silver;
  background-color:#560bad;
}

#cv-page-download-button-text {
  top: 0
}

#cv-page-download-button-text,#cv-page-download-button-icon {
  transition: top 0.5s;
}

#cv-page-download-button-icon {
  color: silver;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-page-download-button-icon svg {
  width: 24px;
  height: 24px;
  background-color: #560bad;
}

#cv-page-download-button:hover {
  background: #560bad;
  cursor: pointer;
}

#cv-page-download-button:hover #cv-page-download-button-text {
  top: -100%;
}

#cv-page-download-button:hover #cv-page-download-button-icon {
  top: 0;
}

#cv-page-download-button:hover:before,#cv-page-download-button:hover:after {
  opacity: 1;
  visibility: visible;
}

#cv-page-download-button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

#cv-page-download-button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


/* From Uiverse.io by mrhyddenn */ 
.shadow__btn {
  padding: 20px 40px;
  border: none;
  font-size: 1.5vw;
  color: silver;
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.5s;
  text-transform: lowercase;
  font-family: GeneralText;
  transition-property: box-shadow;
  grid-column: span 1;
  cursor: pointer;
}

#github-button {
  color: darkslategrey;
  background: #39d353;
  box-shadow: 0 0 25px #39d353;
}

#github-button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px #39d353,
              0 0 25px #39d353,
              0 0 50px #39d353,
              0 0 100px #39d353;
}

#linkedin-button {
  background: #0A66C2;
  box-shadow: 0 0 25px #0A66C2;
}

#linkedin-button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px #0A66C2,
              0 0 25px #0A66C2,
              0 0 50px #0A66C2,
              0 0 100px #0A66C2;
}

#email-button {
  background: #333;
  box-shadow: 0 0 25px whitesmoke;
}

#email-button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px whitesmoke,
              0 0 25px whitesmoke,
              0 0 50px whitesmoke,
              0 0 100px whitesmoke;
}





/*  SECTION: PAGE STRUCTURE */

.page-margin {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 15%;
  border: 1px solid #560bad;
}

.general-text {
  font-size: 20px;
  padding: 10px;
  font-family: GeneralText1;
  color: silver;
}

/*  SECTION: FONTS  */

@font-face {
  font-family: GeneralText;
  src: url(fonts/RoleModelPersonalUseRegular-8MooA.otf);
}

@font-face {
  font-family: NameBanner;
  src: url(fonts/RoleModelPersonalUseRegular-8MooA.otf);
}

@font-face {
  font-family: GeneralText1;
  src: url(fonts/cardo.regular.ttf);
}

@font-face {
  font-family: PrettyText;
  src: url(fonts/Tangerine_Regular.ttf);
}

